fastapi
uvicorn
motor
pymongo
google-genai
numpy
python-bidi
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
bcrypt
certifi

# Testing
pytest
httpx
pytest-asyncio
